<div>
  <h1 mat-dialog-title>Empleados</h1>
  <div mat-dialog-content>
  <div class="contenedor" >

  <mat-form-field>
  <input matInput [(ngModel)]="data.id" type="number" placeholder="inserta id">
  </mat-form-field>

  <mat-form-field>
  <input matInput [(ngModel)]="data.nombre" type="text" placeholder="inserta nombre">
  </mat-form-field>

  <mat-form-field>
  <input matInput [(ngModel)]="data.direccion" type="text" placeholder="inserta direccion">
  </mat-form-field>
  <mat-form-field>
  <input matInput [(ngModel)]="data.cargo" type="text" placeholder="inserta cargo">
  </mat-form-field>
  <mat-form-field>
  <input matInput [(ngModel)]="data.edad" type="number" placeholder="inserta edad">
  </mat-form-field>
  <mat-form-field>
  <input matInput [(ngModel)]="data.imagen" type="text" placeholder="insetar imagen">
  </mat-form-field>

  </div>
  </div>
  <div mat-dialog-actions>
  <button mat-button (click)="Cancelar()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
  </div>
  </div>
