.color1{
    background-color:red;
}

.color2{
    background-color:blue;
}

.color3{
    background-color:green;
}

.color4{
    background-color:yellow;
}

.color5{
    background-color:orange;
}

li{
    list-style-type: none;
}