<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>PRECIO</th>
                        <th>UNIDADES</th>
                        <th>IMÁGEN</th>
                        <th>Eliminar</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of listaFruta">
                        <td>{{f.id}}</td>
                        <td>{{f.nombre}}</td>
                        <td>{{f.precio}}</td>
                        <td>{{f.unidades}}</td>
                        <td><img src={{f.imagen}} alt="" width="90" height="80"></td>
                        <td><button (click)="eliminar(f.id)" class="btn btn-danger btn-md m-2">Eliminar</button></td>
                        <td><button (click)="seleccionar(f)" class="btn btn-info btn-md m-2">Seleccionar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-6">
            <form #f="ngForm">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="Enter id"
                        [(ngModel)]="selectedProduct.id">

                </div>
                <div class="form-group">
                    <label for="nombre">NOMBRE</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Enter nombre"
                        [(ngModel)]="selectedProduct.nombre">

                </div>
                <div class="form-group">
                    <label for="precio">PRECIO</label>
                    <input type="number" class="form-control" id="precio" name="precio" placeholder="Enter precio"
                        [(ngModel)]="selectedProduct.precio">

                </div>
                <div class="form-group">
                    <label for="unidades">UNIDADES</label>
                    <input type="number" class="form-control" id="unidades" name="unidades" placeholder="Enter unidades"
                        [(ngModel)]="selectedProduct.unidades">

                </div>
                <div class="form-group">
                    <label for="imagen">IMAGEN</label>
                    <input type="text" class="form-control" id="imagen" name="imagen" placeholder="Enter imagen"
                        [(ngModel)]="selectedProduct.imagen">

                </div>
            </form>

            <input type="button" class="btn btn-info ml-2" (click)="crearProducto()" value="Crear Productos">
            <input type="button" class="btn btn-primary ml-2" (click)="actualizarProducto()"
                value="Actualizar Productos">
        </div>
    </div>

</div>